// Sizes
$headerSize: 80px;
$mainSize: 100vh;

// Colors
$bodyBackgroundColor: black;
$bodyColor: white;
$titleColor: rgb(44, 44, 255);
$sectionsBackgroundColor: #191919;
$sectionsHoverBackgroundColor: #303030;