@use './partial/variables' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';

@import 'bootstrap/scss/bootstrap';

body{
  background-color: $bodyBackgroundColor;
  color: $bodyColor;
}
header{
  height: $headerSize;
  width: 100%;
}
main{
  height: $mainSize;
  width: 100%;
}